version: '3.8'

services:
 

  server:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: .env
    ports:
      - "3000:3000"
  
    networks:
      - appnet

networks:
  appnet:
    driver: bridge